.Wrapper_App {
height: 100vh;
    display: grid;
    grid-template-areas:
          "h h"
          "s c";
    min-width: 1200px;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;

}

.header {
    grid-area: h;
}


.Sidebar {
    grid-area: s;
    display: grid;
    background-color: burlywood;
}



.Content {
    grid-area: c;
    background-color: darkslategrey;
}




